<div class={{concat "ui inverted dimmer" (if _loading " active" "")}}>
  <div class="ui text loader">
    <button class="ui button" {{action "abortRequest"}}>{{t "ember-flexberry-analytics.cancel-load"}}</button>
  </div>
</div>
<div class="report-viewer">
  <div class="toolbar">
    <button id="build-report" class={{concat "ui create-button button" (if isBuildReportButtonDisabled " disabled" "")}}
      {{action "buildReport"}}>{{t "ember-flexberry-analytics.build-report"}}</button>
    <div id="export-report">
      {{#if showButtonExportPdf}}
      <button class="ui button icon export-button " title={{t "ember-flexberry-analytics.export-button-caption.pdf"}}
        {{action 'exportReport' 'pdf'}}>
        <i class="large file pdf outline icon"></i>
      </button>
      {{/if}}
      {{#if showButtonExportXlsx}}
      <button class="ui button icon export-button " title={{t "ember-flexberry-analytics.export-button-caption.xls"}}
        {{action 'exportReport' 'xlsx'}}>
        <i class="large file excel outline icon"></i>
      </button>
      {{/if}}
      {{#if showButtonExportCsv}}
      <button class="ui button icon export-button " title={{t "ember-flexberry-analytics.export-button-caption.csv"}}
        {{action 'exportReport' 'csv'}}>
        <i class="large file archive outline icon"></i>
      </button>
      {{/if}}
    </div>

    <button id="print-report" class="ui button"
      {{action 'printReport'}}>{{t "ember-flexberry-analytics.print-report"}}</button>

    <div id="pagging">
      <button class="ui button prev-page-button {{if isPrevButtonDisabled "disabled"}}"
        {{action 'getPrevPage'}}></button>
      {{reportCurrentPage}} {{t "ember-flexberry-analytics.page-number-formatting"}} {{reportPagesCount}}
      <button class="ui button next-page-button {{if isNextButtonDisabled "disabled"}}"
        {{action 'getNextPage'}}></button>
    </div>
  </div>
  <div id="content-block">
    <iframe id="content" scrolling="no" width={{frameWidth}} height={{frameHeight}}></iframe>
  </div>
</div>
{{notification-container position="bottom-right"}}